body {
    background-color: hsl(30, 38%, 92%);
    font-family:'Fraunces', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh

}
.product__section {
    background-color: white;
    height: fit-content;
    width: 90%;
    border-radius: 15px;
    padding-bottom: 8px;
}

.product__section header p, h1{
    margin: 18px 20px 15px

}

.product__section header h1 {
    font-size: 28px;
    font-weight: 700;
}

#product__section__p {
    font-size: 14px;
    margin: 0 16px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
} 

section header p {
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.img__header{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.img__header_desktop{
    display: none;
}

.product__section__div{
    display: flex;
    margin: 32px 16px 10px;
}


#product__value__discount{
    font-size: 28px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

#product__value__original{
    align-self: center;
    text-decoration: line-through;
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin: 0 16px;
}

button{
    background-color:hsl(158, 36%, 37%);
    color: white;
    width: 90%;
    margin: 0px 18px 16px;
    border-radius: 5px;
    height: 41px
}

button::before{
    src: url(../images/icon-cart.svg);
}

button:hover{
    transform: scale(1.1);
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    .product__section header{
        display: flex;
        justify-content: space-around;
    }

    .img__header{
        display: none;
    }

    .img__header_desktop{
        display: block;
    }


}

.attribution {
    display: none;
}